<!DOCTYPE html>
<html>


<head>
    <% include Blocks/head.ejs %>
    
        
    <script src="/app/react/search.jsx"></script>

    <link rel="stylesheet" href="/public/CSS/IndexCSS.css" type="text/css" />

    <title>Галерея</title>
</head>

<body>
    <% include Blocks/Cap.ejs %>

    <div class="content">
        <h1>Галерея</h1>
        <div class="galery">
            <div class="el">
                <img src="../public/Img/drop-of-water-4478783_1920.jpg" alt="">
            </div>
            <div class="el">
                    <img src="../public/Img/coffe-4289545_1920.jpg" alt="">
            </div>
            <div class="el">
                    <img src="../public/Img/novice-4479081_1920.jpg" alt="">
            </div>
            <div class="el">
                    <img src="../public/Img/tiger-4458133_1920.jpg" alt="">
            </div>
            <div class="el">
                    <img src="../public/Img/drop-of-water-4478783_1920.jpg" alt="">
            </div>
            <div class="el">
                    <img src="../public/Img/novice-4479081_1920.jpg" alt="">
            </div>

            
            
            
            
            <div class="el" style="display: none">
                <h4>Имя автора</4>
                    <p>Описание</p>
            </div>
        </div>
    </div>

    <% include Blocks/Bot.ejs %>


</body>

</html>