<!DOCTYPE html>
<html>

<head>
    <% include Blocks/head.ejs %>

    <link rel="stylesheet" href="/public/CSS/IndexCSS.css" type="text/css" />

    <title>Галерея</title>
</head>

<body>
    <% include Blocks/Cap.ejs %>

    <div class="content">
        <h1>Галерея</h1><br>
        <span><%= err_setImage %></span>
        <div class="galery">
            <% for (let i in images) { %>
                <% include Blocks/img.ejs %>
            <%}%>
        </div>
    </div>

    <% include Blocks/Bot.ejs %>
</body>

</html>