body, button, input{
    font-family: sans-serif;
}

body{
    height: 100%;
    background-color: rgb(255, 255, 255);
}
button{
    text-decoration: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border: none;    
    padding: 0px;
    margin: 0px;
}
input{
    outline: none;
    background: white;
    border: none;    
}
a{    
    text-decoration: none;
    color: black;
}

.content{
    min-height: calc(100vh - 220px);              
    min-width: 420px;
    margin-bottom: 40px;
}

.bottom_menu, .cap{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 480px;
}

/*//////////////////Header////////////////*/
.cap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.cap_block_top{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.logo_text{
    font-family: system-ui;
    font-size: calc(1vw + 24px);
    font-stretch: ultra-expanded;
    letter-spacing: calc(4vw + 10px);
    font-weight: lighter;
    margin-left: calc(4vw + 10px);
}
.cap_block_bottom{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.cap_item{
    color: black;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;  
    margin: 10px;  
    position: relative; 
}
.search_form{    
    width: 80%;
    min-width: 100px;
    display: flex;
    flex-wrap: nowrap;    
    border: 1px solid rgba(50, 201, 168, 0.6);
    border-radius: 20px;
    padding: 1px;
    font-size: 14px;
}

.search_form:hover{
    border: 2px solid rgba(50, 201, 168);
    padding: 0px;
}
.search{
    width: 100%
}

/*//////////////////Footer////////////////*/
.bottom_menu{
    width: 100%;
    background-color: white;
    height: 50px;    
    position: relative;
}
.dryicons{
    font-size: 11px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}


/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////Адаптация под разные экраны//////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-device-width : 480px) {
    .content{   
        min-width: 280px;
    }

    .bottom_menu, .cap{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-width: 250px;
    }
    
    .cap_block_bottom{
        width: 98%;    
    }
    .cap_item{
        font-size: 14px;
    }
    .bottom_menu{
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}


