body, button, input{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
body{
    height: 100%;
    background-image: url(../Img/space-3197611_1920.svg);
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: repeat-y;
}
button{
    text-decoration: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border: none;    
    padding: 0px;
    margin: 0px;
}
a{    
    text-decoration: none;
    color: black;
}

.content{
    min-height: calc(100vh - 220px);              
    min-width: 200px;
    margin-bottom: 40px;
}

.bottom_menu, .cap{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}

/*//////////////////Header////////////////*/
.cap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.cap_block_top{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.logo_text{
    font-family: system-ui;
    font-size: calc(2vw + 24px);
    font-stretch: ultra-expanded;
    letter-spacing: calc(4vw + 10px);
    font-weight: lighter;
    margin-left: calc(4vw + 10px);
}
.cap_block_bottom{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.cap_item{
    color: black;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;  
    margin: 10px;  
    position: relative;     
}
.cap_item, .search{
    background: rgba(255, 255, 255, 0.85);
}
.cap_link{
    border-radius: 15px;
    padding: 10px;
    border: 1px solid rgba(50, 201, 168);
}
.cap_link:hover{
    padding: 9px;
}
.search_form{    
    width: 80%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 1px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
}
.search{
    width: 100%;
    font-size: 14px;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid rgba(50, 201, 168);
}
.search:focus{
    border: 2px solid rgba(50, 201, 168);    
    padding: 11px;
}
.search:hover{
    padding: 11px;
}
.cap_link, .search {
    box-shadow: 2px 4px 4px rgba(180, 180, 180, 0.4);    
}
.cap_link:hover, .search:hover{
    border: 2px solid rgba(50, 201, 168);
    box-shadow: 2px 6px 6px rgba(180, 180, 180, 0.8); 
}

/*//////////////////Footer////////////////*/
.bottom_menu{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    height: 50px;    
    position: relative;
}
.dryicons{
    font-size: 11px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}


/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////Адаптация под разные экраны//////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-device-width : 480px) {    
    body{
        background-size: auto 100%;
    }
    h1{
        font-size: 24px;
    }

    .content{   
        min-width: 280px;
    }
    .cap{
        margin-bottom: 20px;
    }
    .bottom_menu, .cap{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-width: 250px;
    }    
    .cap_block_bottom{
        width: 98%;    
    }
    .cap_item{
        font-size: 12px;
        margin: 3px; 
    }
    
    .bottom_menu{
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}


