img{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 300px;
    border-radius: 10px;
}
h1{
    margin: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galery{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.el{    
    flex-basis: auto;
    display: block;
    width: auto;
    height: auto;
    margin: 10px;
    cursor: pointer;   
    position: relative; 
}
.description{
    display: none;
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}
.el:hover > img{
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.6); 
}
.el:hover > .description{
    display: block;
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////Адаптация под разные экраны//////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1440px) {    
    img{
        max-width: 500px;
        max-height: 300px;
    }
}
@media screen and (max-width: 1024px) {    
    img{
        max-width: 400px;
        max-height: 220px;
    }
}
@media screen and (max-width: 768px) {    
    .gallery{
        display: block;
    }
    img{
        max-width: 760px;
        max-height: 1000px;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 480px) {
    .gallery{
        display: block;
    }
    img{
        max-width: 460px;
        max-height: 700px;
        width: 100%;
        height: auto;
    }
}


@media screen and (max-device-width: 480px) {
    .gallery{
        display: block;
    }
    img{
        max-width: 460px;
        max-height: 700px;
        width: 100%;
        height: auto;
    }
}
