<footer class="bottom_menu">

    <div class="bot_menu_block">
        <a href="/" class="bot_menu_hedline before_el">О нас</a></br>
        <a href="/#products_week" class="bot_menu_items before_el">Товары недели</a></br>
        <a href="/#contacts" class="bot_menu_items before_el ">Контакты</a></br>
        <a href="/#delivery" class="bot_menu_items before_el">Доставка</a></br>        
    </div>
    
    <a class="dryicons" href='/dryicons'>Icon by Dryicons</a>
</footer>
