<footer class="bottom_menu">    
    <div class="bot_menu_description">
        <span class="bot_menu_text">ИП Макаров Андрей Евгеньевич</span></br>
        <span class="bot_menu_text">Регистрация №192415523, 29.01.2015, Мингорисполком.</span></br>
        <span class="bot_menu_text">УНП 192415523</span></br>
        <span class="bot_menu_text">Юридический адрес: Минск, ул.Куйбышева 67-3-64</span></br>
        <span class="bot_menu_text">Регистрация №192415523, 29.01.2015, Мингорисполком.</span></br>
    </div>

    <div class="bot_menu_block">
        <a href="/" class="bot_menu_hedline before_el">О нас</a></br>
        <a href="/#products_week" class="bot_menu_items before_el">Товары недели</a></br>
        <a href="/#contacts" class="bot_menu_items before_el ">Контакты</a></br>
        <a href="/#delivery" class="bot_menu_items before_el">Доставка</a></br>
        
    </div>
    
    <div class="bot_menu_block">
        <a href="/#social" class="bot_menu_hedline before_el">Соцсети</a></br>
        <a href="https://vk.com/cmtscience_by" class="bot_menu_items before_el">Вконтакте</a></br>
        <a href="https://www.instagram.com/formulla.by/" class="bot_menu_items before_el">Instagram</a></br>
    </div>

    
    <a class="dryicons" href='/dryicons'>Icon by Dryicons</a>
</footer>
