<header class="cap">
    <div class="cap_block_top">
        <a class="logo" href="/"><span class="logo_text">Gallery</span></a>
    </div>
    <div class="cap_block_bottom">
        <a class="cap_item" href="/">Галерея</a>

        <form action="/" class="search_form">
            <input class="cap_item search" type="search" name="q" placeholder="Поиск по сайту">
            <input class="cap_item but" type="submit" value="Найти">
        </form>

        <a class="cap_item" href="/signUp_signIn"><%= auth == true ? "Кабинет" : "Вход" %></a>
    </div>
</header>