<div class="el">
    <img src="<%= images[i].link%>">
    <div class="description">
        <p><%= images[i].login%></p>
        <p><%= images[i].name%></p>
        <p><%= images[i].description%></p>
    </div>
</div>