<div class="el">
    <img src="<%= images[i].link %>">
    <div class="description">
        <h4>Название: <%= images[i].name %></4>
        <p>Описание: <%= images[i].description %></p>
    </div>
    <form method="POST" action="/delete-image">
        <input type="hidden" name="img" value="<%= images[i].name %>" />
        <button class="delete" type="submit" title="Удалить изображение">X</button>
    </form>
</div>