<!DOCTYPE html>
<html>
    <head>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(55139743, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
        });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/55139743" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/CSS/Cap_BotMenuCSS.css" type="text/css"/>
        <link rel="stylesheet" href="/public/CSS/OrderIsAcceptedCSS.css" type="text/css"/>
        <script src="/public/JS/Vue/vue.js"></script>

        <link rel="icon" href="/public/Img/favicon.png" type="image/png">
        <link rel="shortcut icon" href="/public/Img/favicon.png" type="image/png">

        <title>404 eror</title>
    </head>
    <body>
        <% include ../Blocks/Cap.ejs %>

        <div class="content">
            <div class="text">
                <span class="thanks">404 eror. Страница не найдена :(</span>
            </div>            
        </div>

        <% include ../Blocks/Bot.ejs %>
    </body>
</html>
