<!DOCTYPE html>
<html>
    <head>
        <% include ../Blocks/head.ejs %>
        <title>404 eror</title>
    </head>
    <body>
        <% include ../Blocks/Cap.ejs %>

        <div class="content">
            <div class="text">
                <h2 style="text-align: center">404 eror. Страница не найдена :(</h2>
            </div>            
        </div>

        <% include ../Blocks/Bot.ejs %>
    </body>
</html>
