<!DOCTYPE html>
<html>
    <head>
        <% include ../Blocks/head.ejs %>        
        <link rel="stylesheet" href="/public/CSS/OrderIsAcceptedCSS.css" type="text/css"/>
        <title>404 eror</title>
    </head>
    <body>
        <% include ../Blocks/Cap.ejs %>

        <div class="content">
            <div class="text">
                <span class="thanks">404 eror. Страница не найдена :(</span>
            </div>            
        </div>

        <% include ../Blocks/Bot.ejs %>
    </body>
</html>
